<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="" />
    <link rel="icon" href="{{ url_for('static', filename='images/beatratespeechbubblenoback.png')}}" />
    <title>BeatRate</title>
</head>
<body>
    <img src="{{ url_for('static', filename='images/beatratespeechbubblenoback.png')}}" alt="BeatRate Logo" style="width: 100px; height: 100px;">
    <h1>BEATRATE</h1>
    
</body>
</html>