.homepage-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
/* .homepage-home-text {
  font-size: 120px;
  margin: 0px;
} */
.homepage-featured-container-inner {
  text-align: center;
}
.homepage-featured-container-title {
  font-size: 45px;
}
.homepage-featured-image-container {
  display: flex;
  width: 1500px;
  justify-content: space-between;
  padding: 0px 50px;
}

.navlinkhome {
  text-decoration: none;
}

.homepage-featured-image {
  width: 180px;
}
.homepage-featured-description {
  font-size: 35px;
}
.homepage-featured-description {
  font-size: 30px;
}
.homepage-featured-leftmost-container {
  text-align: right;
}

.very-cool-line {
  width: 100%;
  height: 3px;
  background-color: white;
  margin-top: 10px;
}
