.user-everything-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.user-profile-username {
  font-size: 60px;
}
.user-profile-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.user-profile-picture {
  width: 250px;
  height: 250px;
  margin-bottom: 25px;
}
.user-profile-container-left {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user-profile-socials-container a {
  margin: 0px 10px;
}
.user-profile-social-logo {
  width: 45px;
  height: 45px;
}
.user-profile-container-right {
  width: 68%;
}
.user-profile-container-right-upper {
  display: flex;
  justify-content: space-between;
}
.user-profile-firstandlast {
  color: black;
  background-color: white;
  padding: 15px;
  border-radius: 4px;
}
.user-profile-joindate {
  font-size: 28px;
  margin-right: 20px;
}
.user-profile-description {
  width: 95%;
  height: 220px;
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 4px;
  font-size: 25px;
}
.user-profile-edit-container {
  width: 100%;
  display: flex;
  justify-content: right;
}
.user-edit-profile-button {
  padding: 10px 20px;
  background-color: grey;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 19px;
}
.user-edit-profile-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 1px 1px white;
}

.editdeletecontainer * {
  list-style-type: none;
}

.user-all-reviews-text {
  width: 90%;
  font-size: 35px;
  border-top: 3px solid white;
  padding-top: 20px;
}
.reviews-container {
  width: 90%;
}
.review-container-full {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.review-container-leftmost {
  width: 58%;
}
.review-container-upper {
  display: flex;
  justify-content: space-between;
  font-size: 23px;
}
.rating-mic-container {
  display: flex;
  align-items: center;
}
.rating-mic-container p {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 12px;
  font-size: 23px;
}
.rating-review-text {
  max-width: 100%;
  word-break: break-all;
  white-space: normal;
  font-size: 23px;
}
.review-container-rightmost {
  display: flex;
  align-items: center;
  width: 37%;
}
.review-album-image {
  width: 200px;
  height: 200px;
}

.review-album-rightmost {
  width: 100%;
}
.review-album-rightmost * {
  margin-left: 20px;
}
.review-album-rightmost a {
  font-size: 23px;
}
.nice-line {
  width: 90%;
  margin-left: 20px;
  height: 3px;
  background-color: white;
}
.review-edit-delete-image {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.review-edit-delete-button {
  border: none;
  margin-left: 15px;
  margin-top: 25px;
}


.delete-modal-container {
  padding: 20px;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.delete-modal-button-container {
  display: flex;
  width: 250px;
  justify-content: space-evenly;
}
.delete-modal-delete-button {    
  padding: 10px 20px;
  background-color: rgb(177, 0, 0);
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 19px;
}
.delete-modal-keep-button {
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 19px;
}

.delete-modal-delete-button:hover, .delete-modal-keep-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 1px 1px white;
}