.centred {
  text-align: center;
}

.bio-page_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "a b c"
    "a d e";
}

/* .musician-photo{

background-color: rgba(165, 42, 42, 0.275);
} */

.musician-photo {
  width: 20%;
  /* background-color: rgba(165, 42, 42, 0.275); */
}

.photocard {
  grid-area: a;
}

.musician-name {
  grid-area: b;
  /* background-color: rgba(165, 42, 42, 0.275); */
}

.musician-description {
  grid-area: d;
  /* background-color: rgba(165, 42, 42, 0.275); */
}

.star-rating {
  grid-area: c;
  text-align: end;
  /* background-color: rgba(165, 42, 42, 0.275); */
}

.musician-buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.showbutton {
  visibility: hidden;
}

.recommended-music {
  grid-area: e;
  text-align: end;
}

.placeholder-image {
  width: 10%;
}

.album-container {
  display: flex;
  gap: 1em;
}
.album-name {
  grid-area: b;
}

/* .line {
  grid-area: c;
} */

.album-year {
  grid-area: d;
}

.number-of-songs {
  grid-area: e;
}

.review-button {
  grid-area: f;
}

.album-image {
  width: 100%;
}

.album-image-container {
  width: 30%;
}

.album-details-container {
  width: 70%;
}

.number-and-review {
  display: flex;
  justify-content: space-between;
}

.all-albums-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2em;
}

.songList {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 769px) {
  .album-component-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    text-align: center;
  }

  .album-container {
    border-bottom: white 4px solid;
    border-width: 60%;
  }

  .album-details-container {
    width: 100%;
  }

  .songList p {
    text-align: left;
    font-size: 13px;
  }

  .musician-review-div {
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-bottom: white 1px solid;
  }

  .all-albums-grid {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .album-name {
    overflow-wrap: anywhere;
  }

  .bio-page_grid {
    display: flex;
    flex-direction: column;
  }

  .album-image-container {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .album-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-profile-edit-container2 {
    display: flex;
    justify-content: space-around;
  }

  .delete-modal-button-container {
    flex-direction: column;
    align-items: center;
  }

  .delete-modal-delete-button,
  .delete-modal-keep-button {
    width: 100%;
    margin: 10px 0;
  }

  .delete-modal-button-container button {
    width: 100%;
    margin-bottom: 10px;
  }
}
