.profile-dropdown {
  position: absolute;
  right: 15px;
  background-color: black;
  border: 2px solid black;
  padding: 5px;
  top: 120px;

  width: 150px;
  min-height: 150px;
  background-color: #020315;
  border: 3px solid white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.aboutus {
  text-decoration: none;
  padding-right: 50px;
  font-size: 20px;
}

.profile-dropdown li {
  list-style: none;
}

.profile-dropdown-button {
  width: 135px;
  height: 25px;
  color: white;
  background-color: gray;
  border: none;
  cursor: pointer;
  border-radius: 12.5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0px;
  height: 120px;
}
.navbar-logo {
  height: 250px;
}
.navbar-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.new-spot-button {
  border: none;
  background-color: rgb(235, 235, 235);
  color: rgb(102, 158, 177);
  font-size: 15px;
  padding-right: 15px;
}

.menu-button {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  color: white;
  background-color: rgb(0, 0, 0);
}
.profile-button {
  height: 50px;
  cursor: pointer;
}

.navbar-icon {
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 50px;
}

.dropdown-button {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  width: 210px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.musicians-button-arrow {
  width: 30px;
  background-color: white;
}

.dropdown-menu {
  display: block;
  position: absolute;
  right: 0px;
  border: 2px solid white;
  border-top: none;
  min-width: 98%;
  padding-left: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  /* Webkit stuff */
  max-height: 300px;
  overflow-y: auto;
}

.artist-dropdown-li {
  list-style-type: none;
  width: 100%;
}
.artist-dropdown-li a:hover {
  color: black;
  background-color: white;
}

.artist-dropdown-li a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Webkit stuff for scroller */
.dropdown-menu::-webkit-scrollbar {
  width: 8px;
}

.dropdown-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 769px) {
  .navbar {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }

  .navbar-logo {
    height: 200px;
    align-self: center;
  }

  .navbar-home {
    width: 100%;
    justify-content: center;
  }

  .navbar-right {
    margin-right: 0;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }

  .profile-dropdown {
    right: 0;
    top: 60px;
    /* width: 100%; */
  }

  .aboutus {
    padding-right: 0;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }

  .new-spot-button {
    width: 100%;
    font-size: 13px;
    padding-right: 0;
  }

  .profile-button {
    height: 40px;
  }

  .navbar-icon {
    height: 25px;
    width: 25px;
  }

  .dropdown {
    width: 100%;
    margin-right: 0;
    max-width: 165px;
  }

  .dropdown-button {
    font-size: 20px;
    width: 100%;
    max-width: 165px;
  }

  .dropdown-menu {
    min-width: 100%;
    max-height: 200px;
  }

  .artist-dropdown-li a {
    padding: 10px 12px;
  }
}
