<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}" />
    <link rel="icon" href="{{ url_for('static', filename='images/beatratespeechbubblenoback.png')}}" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
    </style>
    <title>BeatRate</title>
</head>
<body>
    <img src="{{ url_for('static', filename='images/beatratespeechbubblenoback.png')}}" alt="BeatRate Logo" style="width: 100px; height: 100px;">
    <h1>BEATRATE</h1>
    <p>Our project, BeatRate, is a music review platform where users can follow and review artists, albums, and songs. Musicians can create profiles to share their music, albums, tour dates, and engage with fans. BeatRate connects fans with their favorite artists and enhances music discovery and interaction.</p>
    
</body>
</html>